*{
    /* box-sizing: border-box;
    margin: 10px 100px 10px 30px;
    padding: 10px 30px 40px 50px;
    margin-top: 30px;
    margin-left: 30px ; */
}

button{
    border: none;
    outline: auto;
    outline-color: red;
}

h1{
    color: red;
    text-transform: capitalize;
    text-align: center;
    font-family: monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    /* text-shadow: 2px 5px green; */
}

.box{
    width: 500px;
    border: 1px solid green
}
p{
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    padding: 50px;
}
.btn{
    background: orange;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid red;
    margin-bottom: 20px;
    border-radius: 4px;
}

.btn:hover{
    background: #000;
}

h2{
    background: red;
    /* display: inline; */
    z-index: 1;
}

span{
    background: green;
    display: inline-block;
    padding: 20px;
}

.box{
    height: 200px;
    width: 200px;
    background: orange;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* right: 100px;
    bottom: 330px;
    top: 0;
    left: 0; */
    z-index: -1;
    overflow: scroll;
}

.parent{
    height: 200px;
    width: 400px;
    border: 1px solid;
    position: relative;
}
.child{
    height: 50px;
    width: 50px;
    background: red;
    position: absolute;
    top: 50px;
    left: 50px;
}