*{
    box-sizing: border-box;
}

button{
    border: none;
    outline: auto;
    outline-color: red;
}

h1{
    color: red;
    text-transform: capitalize;
    text-align: center;
    font-family: monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    /* text-shadow: 2px 5px green; */
}

.box{
    width: 500px;
    border: 1px solid green
}
p{
    text-align: center;
    letter-spacing: 2px;
    line-height: 3;
    padding: 50px;
}
.btn{
    background: orange;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid red;
    margin-bottom: 20px;
    border-radius: 4px;
}

.btn:hover{
    background: #000;
}